.contact-form {
  font: inherit;
  font-size: 1rem;
}

.contact-form-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/* block of label and input */
.contact-form label {
  display: block;
  margin-bottom: 1rem;
}

/* label text only */
.contact-form label > div {
  display: block;
  width: 100%;
  font-weight: bold;
  float: left;
  padding-bottom: 1rem;
}

/* red asterisk */
.contact-form span.required {
  color: red;
}

/* inputs */
.contact-form input.input-field {
  width: 100%;
  font: inherit;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}

.contact-form .input-field:focus {
  border: 1px solid #0c0;
}

/* submit button */
.submit-btn-wrap {
  padding-top: 1rem;
  width: 100%;
  margin: 0 15%;
}
