/* GRID TO KEEP SIDE NAV NARROW AND ON THE SIDE */
.sidenav-grid {
  display: grid;
  grid-template-columns: 200px auto;
}

.side-navbar {
  background: violet;
}

.side-navbar h4 {
  text-transform: uppercase;
  padding: 1rem;
}

.side-navbar a {
  display: block;
  padding: 1rem;
  color: black;
  text-decoration: none;
  list-style: none;
}

.side-navbar a:hover {
  /* REMEMBER TO MAKE THIS ONE A BIT DIFFERENT THAN THE FINAL COLOR OF SIDE-NAVBAR BG */
  background: rgb(218, 112, 218);
}
