.userstory-container {
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 2rem auto 2rem;
}

.delete-story-btn {
  justify-self: flex-end;
}