.backlogview-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
  }
  .backloglist-wrapper {
    background-color: darkgoldenrod;
    padding: 1rem;
  }
  .backloglist__header-wrapper {
    display: grid;
    grid-template-columns: 40px auto auto auto;
    align-items: center;
    justify-items: center;
    padding-bottom: .5rem;
  }
   
  .add-userstory-btn {
    font-family: inherit;
    font-size: 1.05rem;
    font-weight: 500;
    padding: .3rem .5rem;
    border-radius: 2px;
    border: 2px black solid;
    background-color: inherit;
  }

  .productBacklog {
    background-color: rgb(167, 232, 189);
  }
  .productBacklog-light {
    background-color: rgba(167, 232, 189, .5);
  }
  .sprintBacklog {
    background-color: rgb(255, 217, 114);
  }
  .sprintBacklog-light {
    background-color: rgba(255, 217, 114, .5);
  }

.info-icon {
  font-size: 1.5rem;
}

.info-icon:hover {
  font-size: 2rem;
  color: rgb(242, 132, 130);
}

.tooltip {
  max-width: 700px;
}