@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.backlogview {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}
