@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
  background: hsla(150, 60%, 90%, 1);
}

/*global pointer settings for clickable objects*/
input[type='button'],
input[type='submit'],
input[type='date'],
input[type='time'],
button[type='submit'],
input[type='text'],
.hero-cta-btn,
.add-userstory-btn,
.userstory-container,
.fa-times,
.fa-trash-alt,
.fa-list-ul,
.fa-ellipsis-h,
.fa-plus,
.editform__story-title,
.editform__story-descr,
.fc-content {
  cursor: pointer;
}
