@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
}

nav {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(221, 221, 221);
  height: 5rem;
  width: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link {
  display: block;
  padding: 2rem;
  color: black;
}

.nav-item,
.nav-link {
  text-decoration: none;
  list-style: none;
  display: inline-flex;
}
.logo {
  letter-spacing: 6px;
}
