.section-grid-2col {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 60vh;
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
  padding: 2rem;
}

/* bg color for every other section */
.section-grid-2col:nth-of-type(even) {
  background-color: hsl(150, 61%, 76%);
}

/* hero banner */
.hero-left-container {
  display: grid;
  height: 100%;
  width: 80%;
  align-items: center;
}

.hero-right-container {
}

.hero-welcome {
  font-size: 3rem;
  text-transform: uppercase;
  align-self: flex-end;
}

.hero-cta-content {
  font-size: 2rem;
}

.hero-cta-btn {
  align-self: flex-start;
  height: 6vh;
  width: 15vw;
  display: grid;
  align-content: center;
  border: none;
  background: hsla(60, 60%, 65%, 1);
  color: black;
  box-shadow: 1px 1px 4px #000;
  -moz-box-shadow: 1px 1px 4px #000;
  -webkit-box-shadow: 1px 1px 4px #000;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-cta-btn:hover {
  background: hsl(60, 61%, 50%);
  background: linear-gradient(
    0deg,
    hsl(60, 61%, 50%) 0%,
    hsl(60, 60%, 65%) 100%
  );
}

/*content after hero banner*/
.marketing-content-left-col,
.marketing-content-right-col {
  height: 100%;
  width: 80%;
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.marketing-content-left-col p,
.marketing-content-right-col p {
  line-height: 3rem;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
}
