.section-grid-2col {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100%;
  height: 100%;
  justify-items: center;
}
.hero-left-container {
  grid-column: 1;
  grid-row: 1;
}
.hero-left-container,
.hero-right-container {
  height: 30vh;
}
