.meet-container {
  padding: 1rem 2rem;
  height: calc(100vh - 7rem);
}

.meet-container h2 {
  /* text-align: center; */
  padding-bottom: 2rem;
}

.meet-container p {
  margin: 0 1rem 0.5rem;
}

/* MEETINGS GRID to keep the icons on the left and text aligned */

.meeting-grid {
  display: grid;
  grid-template-columns: 35px auto;
  grid-gap: 0.5rem;
}
