.meet-container {
  padding: 1rem;
}

.meet-container h3 {
  text-align: center;
}

.meet-container p {
  margin: 0.5rem 1rem;
}

/* MEETINGS GRID to keep the icons on the left and text aligned */

.meeting-grid {
  display: grid;
  grid-template-columns: 35px auto;
  grid-gap: 0.5rem;
}
