.side-navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
}

.side-navbar-item {
  display: flex;
  padding: 2rem;
  text-decoration: none;
  color: black;
}

.about-item {
  height: 100rem;
}
