.scrumboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.scrumboard-list {
  padding: .5rem;
  min-height: 85vh;
}

.list-header {
  padding-bottom: .5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: center;
}

.currentSprint {
  /* background-color: rgba(246, 189, 96, .5); */
  background-color: rgb(246, 189, 96);
}
.currentSprint-light {
  /* background-color: rgba(246, 189, 96, .5); */
  background-color: rgba(246, 189, 96, .5);
}
.inProgress {
  background-color: rgb(245, 202, 195);
}
.inProgress-light {
  background-color: rgba(245, 202, 195, .5);
}
.inReview {
  background-color: rgb(132, 165, 157);
}
.inReview-light {
  background-color: rgba(132, 165, 157, .5);
}
.done {
  background-color: rgb(242, 132, 130);
}
.done-light {
  background-color: rgba(242, 132, 130, .5);
}