.scrumboard {
  height: calc(100vh - 7rem);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.scrumboard-list {
  padding: .5rem;
  min-height: 85vh;
}

.list-header {
  padding-bottom: .5rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-items: center;
}

.currentSprint {
  /* background-color: rgba(246, 189, 96, .5); */
  background-color: hsla(55, 60%, 65%, 1);
}
.currentSprint-light {
  /* background-color: rgba(246, 189, 96, .5); */
  background-color: hsla(55, 60%, 65%, 0.7);
}
.inProgress {
  background-color: hsla(320, 60%, 65%, 1);
}
.inProgress-light {
  background-color: hsla(320, 60%, 65%, 0.7);
}
.inReview {
  background-color: hsla(195, 60%, 65%, 1);
}
.inReview-light {
  background-color: hsla(195, 60%, 65%, 0.7);
}
.done {
  background-color: hsla(120, 60%, 65%, 1);
}
.done-light {
  background-color: hsla(120, 60%, 65%, 0.7);
}