.scrumboard {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.scrumboard-list {
  background-color: brown;
  width: 20rem;
  display: grid;
  grid-template-columns: 2;
}
.card {
}
