.event-form__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(52, 58, 64, .8);
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 30;
}
.event-form__container {
    opacity: 1;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a252f;
    color: #fff;
    z-index: 99;
    padding: .5rem;
}
.event-form__editpanel {
    display: grid;
    grid-template-columns: auto auto 20px 30px;
    grid-gap: .5rem;
    justify-items: flex-end;
    text-transform: uppercase;
    /* border-bottom: solid 2px rgba(0, 0, 0, 0.308); */
    padding: .5rem;
}
.event-header {
    justify-self: flex-start;
}